html {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: radial-gradient(circle at 0% 0%,
            #373b52,
            #252736 51%,
            #1d1e26);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.userinfo{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 18px;
}

.userinfo_name{
    margin:0 5px;
    line-height: 30px;
}

.userinfo_icon{
    font-size: 30px;
    line-height: 30px;
}

.logout_button{
    background: linear-gradient(to right, #4caf50 0%, #357a38 100%);
    margin: 0 10px;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    padding:  0 15px;
    cursor: pointer;
    align-items: center;
    height:40%;
}

.logout_button:active{
    background-color: #357a38;
}

.header_image{
    width:30%;
    margin: 30px;
}

.Input {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.input_activity_field_todo {
    margin: 0;
    position: relative;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 45%;
    box-sizing: border-box;
}

.input_activity_field_todo:focus {
    outline: none;
    border-color: #4caf50;
}

.input_activity_field {
    margin-right: 15px;
    position: relative;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 15%;
    box-sizing: border-box;
}

.input_activity_field:focus {
    outline: none;
    border-color: #4caf50;
}

.input_activity_field.valid:focus {
    border: 2px solid #4caf50;
}

.input_activity_field.invalid {
    border: 2px solid #f44336;
}

.character-counter {
    width: 16px;
    position: relative;
    bottom: -14px;
    right: 30px;
    font-size: 14px;
    color: #6c757d;
}

.submit {
    background-color: #4caf50;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    height: 44px;
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.submit:active {
    background-color: #357a38;
}

form.activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    padding: 8px 12px;
    width: 50%;
    margin: 20px auto;
}

.activity-date {
    margin-left: auto;
    float: right;
}

.activity-time {
    margin-left: auto;
    margin-right: 15px;
    float: right;
}

.activity-icons {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.activity-text {
    flex: 1;
    margin-right: 16px;
}

.activity-text span,
.activity-text s {
    font-size: 16px;
    font-weight: 500;
}

.activity-todo {
    color: #212529;
    float: left;
    margin-left: 16px;
}

.activity-icon {
    height: 24px;
    cursor: pointer;
    margin-left: 8px;
}

.activity-icon svg {
    height: 24px;
    width: 24px;
}

.activity-title {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.activity-title h2 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 8px;
}

.activity-title-underline {
    height: 5px;
    background: linear-gradient(to right, #4caf50 0%, #357a38 100%);
    width: 80%;
    margin: 0 auto 20px auto;
}



.login {
    width: 70%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.input_login_field {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin:5px 0;
    box-sizing: border-box;
}

.input_login_field:focus {
    border: 2px solid #4caf50;
}

.login_button {
    background: linear-gradient(to right, #4caf50 0%, #357a38 100%);
    margin-top: 5px;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%; 
    align-items: center;   
}

.login_button:active {
    background-color: #357a38;
}

.login_text{
    color: white;
}

.image {
    position: relative;
    width:100%;
    margin-bottom: 30px;
}

.login_container{
    width:30%;
    height: 80%;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(circle at 0% 0%,
                #373b52,
                #252736 51%,
                #1d1e26);
    border-radius: 6px;
    margin-top: 75px;
}